.authors {
  list-style-type: none;
  img {
    float: left;
    width: 30px;
    height: 30px;
  }
  a {
    margin-left: 5px;
    line-height: 30px;
    float: left;
  }
  p {
    margin: 5px 0 0 0;
    float: left;
    clear: both;
  }
  li {
    padding: 4px;
    overflow: hidden;
    background-color: #F5F5F5;
    border-bottom: solid 1px #DDD;
  }
}