body {
  margin-top: 40px;
  .nav-list {
    border-left: solid 1px #CCC;
    i {
      color: #333;
    }
   }
}

.icon-articles:before { content: "\f0f6"; }
.icon-profile:before { content: "\f007"; }
.icon-settings:before { content: "\f013"; }
.icon-compose:before { content: "\f040"; }
.icon-pages:before { content: "\f0c5"; }
.icon-archive:before { content: "\f01c"; }
.icon-about:before { content: "\f05a"; }
.icon-login:before { content: "\f09c"; }
.icon-logout:before { content: "\f023"; }

.icon-code:before { content: "\f013"; }
.icon-list:before { content: "\f0cb"; }
.icon-bullet-list:before { content: "\f0ca"; }
.icon-blockquote:before { content: "\f10d"; }
.icon-hr-line:before    { content: "\f068"; }
.icon-header:before { content: "\f0fd"; } //cant find anything better