@import "util.less";

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

img {
  border: none;
}

a {
  color: @brown-light-2;
  text-decoration: none;
  outline-style: none;
  outline: none;
}

fieldset {
  border: @gray-light-3 solid 1px;
}

legend {
  color: @brown-light-2;
  font-weight: bold;
}

.box-header {
  .gradient(@white, @gray-light-3, @white);
  font-weight: bold;
  text-shadow: @white 0 1px 0;
  padding: 7px 10px;
}

.box {
  & > header {
    border: solid 1px @gray-1;
    border-bottom: 0;
    .box-header;
    h3 {
      padding: 0;
      margin: 0;
    }
  }
  & > div {
    padding: 7px 10px;
    border: solid 1px @gray-1;
    overflow: hidden;
  }
}

table {
  border-collapse: collapse;
  border: solid 1px @gray-1;
  font-size: 0.9em;
  thead, tfoot {
    .box-header;
    td {
      border-right: solid 1px @gray-1;
    }
  }
  tbody {
    border: none;
    vertical-align: top;
  }
  td{
    padding: 7px 10px;
  }
  time {
    color: @black;
  }
  td {
    border-bottom: solid 1px @gray-1;
  }
  a {
    font-weight: bold;
  }
  tr:nth-of-type(even) {
    background-color: @gray-light-1;
  }
}

article {
  padding: 10px;
  margin-bottom: 10px;
  background-color: @gray-light-1;
  width: 600px;
  section {
    font-size: 1.2em;
    line-height: 1.8em;
  }
  > p {
    text-transform: uppercase;
    a:first-of-type {
      font-weight: bold;
    }
  }
}

body {
  font: .8em 'Droid Sans', arial, serif;
  > div {
    overflow: hidden;
    width: 960px;
    margin: 75px auto;
  }
}

header {
  text-transform: uppercase;
  h2 {
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    font-size: 1.8em;
    border-bottom: 1px dotted @gray-1;
  }
}

h3 {
  font-size: 1em;
  font-weight: inherit;
  text-transform: uppercase;
}

time {
  text-transform: uppercase;
  color: @brown-light-1;
}

ul {
  margin: 0;
  padding: 0;
}

aside {
  float: left;
  width: 200px;
  margin: 25px;
  h2 {
    font-size: 12px;
  }
}

article {
  float: left;
  ul, ul {
    font-size: 1em;
    list-style-type: none;
    width: 620px;
    li {
      padding: 5px;
    }
    li:nth-of-type(odd) {
      background-color: @gray-light-1;
    }
  }
}

.home {
  width: 620px;
  overflow: hidden;
  float: left;
}

.user {
  color: @white;
}

.header {
  color: @white;
  border-bottom: 4px solid @gray-dark-1;
  background-color: @gray-dark-2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  h1 {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    line-height: 1.5em;
  }
  nav {
    overflow: hidden;
    float: left;
  }
  div {
    overflow: hidden;
    margin: 20px auto;
    width: 940px;
  }
  ul {
    list-style-type: none;
    float: left;
    margin: 0 10px;
    li {
      margin-right: 5px;
      padding-right: 5px;
      border-right: 1px solid @gray-dark-1;
      float: left;
      a {
        color: @orange-2;
      }
    }
    li:last-of-type {
      border:none;
    }
  }
}

.current {
  opacity: 0.5;
  a {
    color: @orange-light-2 !important;
  }
}

.profilenavigation {
  float: left;
  width: 20%;
  overflow: hidden;
  li {
    margin-bottom: 10px;
    padding-left: 25px;
    line-height: 1.5em;
  }
  .current a {
    color: @brown-light-2 !important;
  }
}

input[type="text"], textarea {
  padding: 2px;
  border: 1px solid @gray-1;
  &:hover {
    border: 1px solid @orange-light-2;
  }
  &:focus {
    border: 1px solid @orange-2;
  }
}

pre::-webkit-scrollbar-thumb{
  border-radius: 3px;
  background: @gray-dark-1;
  cursor: pointer;
}

pre::-webkit-scrollbar{
  width: 7px;
  height: 7px;
  background: @gray-light-2;

}
