@import "util/gradients.less";

.messaging {
  cursor: pointer;
  padding: 5px;
  margin: 10px 0px;
  border: solid 1px;
  border-radius: 3px;
}

.messaging-success {
  .gradient(#EDFFE8, #C8FFBA, #EDFFE8);
  border-color: #ABEB9B;
  border-bottom-color: #75B565;
  color: #198000;
  text-shadow: #C8FFBA 0 1px 0;
}


.messaging-remove {
  .gradient(#FFF, #E0E0E0, #FFF);
  border-color: #DEDEDE;
  border-bottom-color: #C7C7C7;
  color: #7A0000;
  text-shadow: #FFF 0 1px 0;
  font-weight: bold;
}


.messaging-error {
  .gradient(#CA6560, #A2322D, #CA6560);
  border-color: #A2322D;
  border-bottom-color: #C7C7C7;
  color: #FFF;
  text-shadow: #A2322D 0 1px 0;
  ol {
    margin: 0;
    padding: 5px 5px 5px 30px;
    li {
      padding: 5px 0;
    }
  }
}