.managearticles {
  > div {
    width: 80%;
    float: left;
  }
  table {
    width: 100%;
  }
  button {
    margin-top: 4px;
  }
  .paging {
    float: right;
    margin-right: 0;
    button, div {
      float: left;
    }
    input[type=text] {
      width: 30px;
    }
    div, button {
      margin-right: 5px;
    }
  }
}

.managearticlefilters {
  overflow: hidden;
  margin: 5px 0;
  select, input[type=text] {
    border-radius: 2px;
    margin: 4px 0;
    border: solid 1px #CCC;
    padding: 3px;
  }
  div {
    float: left;
    margin-right: 20px;
  }
  a {
    line-height: 30px;
  }
}

.delete-article {
  color: #A10000;
  text-shadow: #FFF 0 1px 0;
}