.basicinformation {
  form {
    float: left;
    width: 80%;
    label, input[type=text] {
      float: left;
      width: 50%;
    }
    input[type=submit] {
      float: right;
    }
    ul {
      list-style-type: none;
      li {
        float: left;
        clear: both;
        width: 400px;
        margin-bottom: 10px;
      }
    }
  }
}