@import "util.less";

.dashboard {
  overflow: hidden;
  ul {
    list-style-type: none;
  }
  & > div {
    float: left;
    width: 80%;
  }
  .box {
    float: left;
    width: 48%;
    margin: 0 1% 1%;
    ul {
      width: 50%;
      float: left;
    }
  }
  .count {
    font: 2em Georgia italic;
  }
  .draftsCount {
    color: @orange-2;
  }
  .spamCount {
    color: @red-1;
  }
  ul.recentComments, ul.recentDrafts {
    width: 100%;
    li {
      border-bottom: dotted 1px @gray-1;
      padding: 5px 0;
    }
  }
}