ordered set globaljs is
util/require.js
util/require.query-string.js
util/jquery-1.8.1.min.js
util/google-font-loader.js
util/google-code-prettify/prettify.js
util/pagedown/jquery.pagedown.tooltip.js
util/pagedown/jquery.pagedown.modal.js
util/pagedown/Markdown.Converter.js,
util/pagedown/Markdown.Sanitizer.js,
util/pagedown/Markdown.Editor.js,
util/pagedown.js
paging.js
validation.js
messaging.js
pretty.js